// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detailBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 20px;
}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;

  label {
    color: #444;
    margin: 0;
    display: inline-block;
  }
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.ava {
  border: 1px dotted blue;
  margin-right: 20px;
}

.comment {
  border: 1px solid #bbb;
  padding: 20px 20px 50px 20px;
}